<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.account.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="AccountResult" type="com.lemon.account.domain.Account">
        <id column="account_id" property="accountId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="parent_id" property="parentId"/>
        <result column="account_node_name" property="accountNodeName"/>
        <result column="account_user_name" property="accountUserName"/>
        <result column="account_user_pwd" property="accountUserPwd"/>
        <result column="account_key_iv" property="accountKeyIv"/>
        <result column="account_info" property="accountInfo"/>
        <result column="account_domain" property="accountDomain"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectAccountVO">
        select account_id,
               parent_id,
               account_node_name,
               account_user_name,
               account_user_pwd,
               account_key_iv,
               account_domain,
               account_info,
               create_by,
               create_time,
               update_by,
               update_time
        from lam_account as a
    </sql>

    <select id="selectAccountsByUserId" parameterType="long" resultMap="AccountResult">
        <include refid="selectAccountVO"/>
        where a.account_id in(
        select b.account_id from lam_user_account as b
        where b.user_id=#{userId}
        )
    </select>

    <delete id="deleteByIds" parameterType="list">
        delete from lam_account where account_id
        <if test="ids != null and ids.size() > 0">
            <foreach collection="ids" item="accountId" open="in(" separator="," close=")">
                #{accountId}
            </foreach>
        </if>
        <if test="ids == null or ids.size() == 0">
            =-1
        </if>
    </delete>

</mapper>
